<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.css">

</head>
<body>
<br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Add Record
</button>

<!-- table -->
<table class="table table-striped">
  <thead>
  <tr>
    <th >#</th>
    <th >First</th>
    <th >middleName</th>
    <th >LastName</th>
    <th >address</th>
    <th >course</th>
    <th >dob</th>
    <td>edit</td>
    <td>Delete</td>


  </tr>
  </thead>
  <tbody>
  <tr th:each="stud :${studentList}">
    <td th:text="${stud.stuId}"></td>
    <td th:text="${stud.firstName}"></td>
    <td th:text="${stud.middleName}"></td>
    <td th:text="${stud.lastName}"></td>
    <td th:text="${stud.address}"></td>
    <td th:text="${stud.course}"></td>
    <td th:text="${stud.dob}"></td>
    <td><a th:href="@{/getById/(stuId=${stud.stuId})}" class="btn btn-warning editButton">update</a></td>
    <td><a th:href="@{/delete/(stuId=${stud.stuId})}" class="btn btn-danger deleteButton">delete</a></td>

  </tr>

  </tbody>
</table>

<!--modal-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/saveStudent}" method="post">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="firstName" placeholder="First name" aria-label="First name" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" name="middleName" placeholder="Middle name" aria-label="Last name" required>
            </div>
          </div><br>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="lastName" placeholder="Last name" aria-label="First name" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" name="address" placeholder="Address" aria-label="Last name" required>
            </div>
          </div><br>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="course" placeholder="Course" aria-label="First name" required>
            </div>
            <div class="col">
              <input type="date" class="form-control" name="dob" placeholder="date of birth" aria-label="Last name" required>
            </div>
          </div><br>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">save</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<!--edit modal-->
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/saveStudent}" method="post">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id="studIdEdit" name="stuId" placeholder="student id" aria-label="First name" required readonly>
            </div>
          </div><br>

          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id="firstNameEdit" name="firstName" placeholder="First name" aria-label="First name" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" id="middleNameEdit" name="middleName" placeholder="Middle name" aria-label="Last name" required>
            </div>
          </div><br>

          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id="lastNameEdit"  name="lastName" placeholder="Last name" aria-label="First name" required>
            </div>
            <div class="col">
              <input type="text" class="form-control" id="addressEdit"  name="address" placeholder="Address" aria-label="Last name" required>
            </div>
          </div><br>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id="courseEdit"  name="course" placeholder="Course" aria-label="First name" required>
            </div>
            <div class="col">
              <input type="date" class="form-control" id="dobEdit"  name="dob" placeholder="date of birth" aria-label="Last name" required>
            </div>
          </div><br>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">update</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<!--Delete Modal -->
<div class="modal fade" id="deleteModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure want to delete?
      </div>
      <div class="modal-footer">
        <a href="" class="btn btn-primary" id="delRef">Yes, Delete</a>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<script src="/webjars/jquery/3.5.1/dist/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="/main.js" th:src="@{/main.js}"></script>
</body>
</html>

